textarea{
    resize: none;
}

.inputDiv, .keyDiv, .outputDiv, .header, .buttonDiv{
    display: flex;
    justify-content: center;
    margin: 2%;
}

.encryptButton, .decryptButton{
    margin: 2px;
}